.propos{
    text-align: center;
}
.sommes{
    font-size: 40px;
    color: brown;
}
.mission{
    font-size: 40px;
    color: brown;
}
.valeur{
    font-size: 40px;
    color: brown;
}
.lieu{
    font-size: 40px;
    color: brown; 
}